<a href="https://colab.research.google.com/github/SUSREE64/ColabNotebooks/blob/main/NLP_Learning_with_NLTK_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## NLP Tutorial with NLTK

In [2]:
# Here we are importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
import nltk
import string
import re

### Tokenize

In [14]:
import nltk
from nltk import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
input_txt = "Hello this is plain text & it has words and numbers 1234"
wordTokens = word_tokenize(input_txt)
print(input_txt)
print(wordTokens)

Hello this is plain text & it has words and numbers 1234
['Hello', 'this', 'is', 'plain', 'text', '&', 'it', 'has', 'words', 'and', 'numbers', '1234']

In [3]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [25]:
file_path ="/content/gdrive/My Drive/Colab Notebooks/TwitterData/"
file_name = "train.csv"
file = file_path+file_name
train_df = pd.read_csv(file)
train_df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [17]:
train_df['location'].isna().sum()

2533

### Exploratory analysis on the data file

In [26]:
## Get minning rows count for each column
def get_nas(df):
  for col in list(df.columns) :
    print( col , df[col].isna().sum())

get_nas(train_df)

id 0
keyword 61
location 2533
text 0
target 0

In [27]:
#location column is having high number of missing values decided to remove this 
train_df.drop(['location'], axis = 1, inplace=True)

         id keyword                                               text  target
0         1     NaN  Our Deeds are the Reason of this #earthquake M...       1
1         4     NaN             Forest fire near La Ronge Sask. Canada       1
2         5     NaN  All residents asked to 'shelter in place' are ...       1
3         6     NaN  13,000 people receive #wildfires evacuation or...       1
4         7     NaN  Just got sent this photo from Ruby #Alaska as ...       1
...     ...     ...                                                ...     ...
7608  10869     NaN  Two giant cranes holding a bridge collapse int...       1
7609  10870     NaN  @aria_ahrary @TheTawniest The out of control w...       1
7610  10871     NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  10872     NaN  Police investigating after an e-bike collided ...       1
7612  10873     NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 4 columns]

In [29]:
train_df.head()

   id keyword                                               text  target
0   1     NaN  Our Deeds are the Reason of this #earthquake M...       1
1   4     NaN             Forest fire near La Ronge Sask. Canada       1
2   5     NaN  All residents asked to 'shelter in place' are ...       1
3   6     NaN  13,000 people receive #wildfires evacuation or...       1
4   7     NaN  Just got sent this photo from Ruby #Alaska as ...       1

### Text Clean up and pre processing for NLP

In [54]:
def preprocess_text(text):
  text_lwr = text.lower()
  #remove https ---
  remove_url = re.compile(r'https?://\S+|www\.\S+')
  remove_url = remove_url.sub(r'',text_lwr)
  #remove some special characters
  remove_html=re.compile(r'<.*?>')
  remove_html = remove_html.sub(r'',remove_url)
  remove_emoji = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
  remove_emoji = remove_emoji.sub(r'', remove_html)
  remove_punct=str.maketrans('','',string.punctuation)
  remove_punct = remove_emoji.translate(remove_punct)
    
  return remove_punct

In [57]:
text = train_df['text'][2567]
text

'Me and all my friends could destroy this in 2hours lmao  https://t.co/waCtT18gdA'

In [58]:
clean_text = preprocess_text(text)
clean_text

'me and all my friends could destroy this in 2hours lmao  '