<a href="https://colab.research.google.com/github/SUSREE64/ColabNotebooks/blob/main/Pandas_Data_Reading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Reading Data into a dataframe from Google Drive as the source of data

In [ ]:
# Here we are importing necessary libraries
import pandas as pd
import numpy as np

In [17]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [41]:
file_path ="/content/gdrive/My Drive/Colab Notebooks/"
file_name = "iris_iris.csv"
file = file_path+file_name
df = pd.read_csv(file)
df.head()

         Class  PetalLength  PetalWidth  SepalLength  SepalWidth
0  Iris-setosa          1.4         0.2          5.1         3.5
1  Iris-setosa          1.4         0.2          4.9         3.0
2  Iris-setosa          1.3         0.2          4.7         3.2
3  Iris-setosa          1.5         0.2          4.6         3.1
4  Iris-setosa          1.4         0.2          5.0         3.6